<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans " >
    <header class="bg-gray-900 text-white py-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <a href="#intro" class="text-xl font-bold">Saketh Kumar</a>
            <nav class="space-x-4">
                <a href="#expertise">Expertise</a>
                <a href="#experience">Experience</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact Me</a>
                <a href="resume.pdf #resume" download="resume.pdf">Resume &#8595;</a>
            </nav>
        </div>
    </header>
    <div class="container mx-auto py-8 px-4">
        <section id="intro" class="mb-12">
            <h1 class="text-4xl font-bold mb-4">Hi, I'm Saketh Kumar!</h1>
            <h2 class="text-2xl font-semibold mb-4">Full Stack Developer</h2>
            <p class="text-lg text-gray-700 leading-relaxed">Back in 2012, I decided to try my hand at creating custom
                Tumblr themes and tumbled head first into the rabbit hole of coding and web development.
                Fast-forward to today, and I’ve had the privilege of building software for an advertising agency, a
                start-up, a student-led design studio, and a huge corporation.
                My main focus these days is building products and leading projects for our clients at Upstatement. I
                most enjoy building software in the sweet spot where design and engineering meet — things that look
                good but are also built well under the hood.</p>
        </section>
        <section id="expertise" class="mb-12">
            <h1 class="text-3xl font-bold mb-6">Expertise</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Javascript</h2>
                    <p class="text-gray-700">A Seasoned Senior Javascript consultant with 5+ years of hands-on
                        experience in the area of software analysis, design and development. Expertise in end-to-end
                        software development life cycle processes and experienced in carrying out impact analysis,
                        project review and documentation In-depth knowledge with Object Oriented Programming and design
                        techniques.</p>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">HTML</h2>
                    <p class="text-gray-700">Assisted senior developers in translating basic client requests into an
                        HTML code Co-led a brief 1-day HTML & CSS workshop for colleagues working in sales and
                        marketing Assisted senior developers in developing the websites of 3 multinational clients
                        Partnered with designers to ensure high-quality graphic content. I am Certified W3 HTML
                        developer. I develop Personal HTML projects.</p>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">CSS</h2>
                    <p class="text-gray-700">Assisted senior developers in translating basic client requests into an
                        HTML code Co-led a brief 1-day HTML & CSS workshop for colleagues working in sales and
                        marketing Assisted senior developers in developing the websites of 3 multinational clients
                        Partnered with designers to ensure high-quality graphic content. I am Certified W3 HTML
                        developer. I develop Personal HTML projects.</p>
                </div>
            </div>
        </section>
        <section id="experience" class="mb-12">
            <h1 class="text-3xl font-bold mb-6">Experience</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Oracle</h2>
                    <p class="text-gray-700">A Seasoned Senior Javascript consultant with 5+ years of hands-on
                        experience in the area of software analysis. Managed a $2 Million dollar project and
                        successfully achieved scheduled project goals. Helped in Recruitment for the year 2020-21.
                    </p>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Google</h2>
                    <p class="text-gray-700">A Seasoned Senior Javascript consultant with 5+ years of hands-on
                        experience in the area of software analysis. Managed a $2 Million dollar project and
                        successfully achieved scheduled project goals. Helped in Recruitment for the year 2020-21.
                    </p>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Amazon</h2>
                    <p class="text-gray-700">A Seasoned Senior Javascript consultant with 5+ years of hands-on
                        experience in the area of software analysis. Managed a $2 Million dollar project and
                        successfully achieved scheduled project goals. Helped in Recruitment for the year 2020-21.
                    </p>
                </div>
            </div>
        </section>
        <section id="projects" class="mb-12">
            <h1 class="text-3xl font-bold mb-6">Projects</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Event management for Netfly.Inc</h2>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Build a Spotify Connected App</h2>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Messaging Application for Japanese local Farmers</h2>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Project Management Dashboard with Open Source
                        Contributions</h2>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">World Statistics in Real time engaging in various
                        methods</h2>
                </div>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Blog Site</h2>
                </div>
            </div>
        </section>
        <section id="contact">
            <h1 class="text-3xl font-bold mb-6">Contact Me</h1>
            <h2 class="text-xl font-semibold mb-4">If you're interested, feel free to contact me at any of my
                socials:</h2>
            <div class="flex space-x-4">
                <a href="https://mail.google.com" target="_blank"><img src="mail.png" alt="mail"></a>
                <a href="https://twitter.com" target="_blank"><img src="twitter.png" alt="twitter"></a>
                <a href="https://linkedin.com" target="_blank"><img src="linkedin.png" alt="linkedin"></a>
                <a href="https://instagram.com" target="_blank"><img src="intsagram.png" alt="instagram"></a>
                <a href="https://pskth.github.io/portfolio/" target="_blank"><img src="website.png" alt="website"></a>
            </div>
        </section>
    </div>
</body>

</html>
