<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Template</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/himanshu.css">
</head>
<body>
    
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-transparent rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid rounded   ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
            <a class="navbar-brand col-lg-3 me-0 text-white" href="#">Portfolio</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#anchor-home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#anchor-expertise">Expertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#anchor-experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#anchor-projects" >Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#anchor-about" >About</a>
              </li>
              
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <a href="../../public/images/pics/Screenshot 2024-01-27 085008.png" download="resume">
              <button class="btn resume-btn" >Resume</button></a>
            </div>
          </div>
        </div>
      </nav>

      <!-- body -->
      <section class="homepage-container-img">    
      <div class="name-container" id="anchor-home"> 

        <div class="div-name">Mahesh Dalle</div>
    
        </div></section>



        <main class="main-body"> 
        <!-- expertise  -->
        <section class="expertise-div" id="anchor-expertise">
            <div class="expertise-head"> My Expertise <hr></div>
            <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0  h-100">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Software Developer</h5>
                  <p class="card-text">Fully experienced in mern stack </p>
     
                </div>
              </div>
            </div>
            <div class="col-sm-6  h-100">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Lassun bhaii </h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </section>

          <!-- experience -->
          <section class="experience-div " id="anchor-experience" >
            <div class="container px-4 py-5" id="featured-3">
                <h2 class="pb-2 border-bottom">Experience's</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                      Call to action
                      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                  </div>
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                      Call to action
                      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                  </div>
                  <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                      <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                      Call to action
                      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                  </div>
                </div>
              </div>



          </section>

          <!-- projects -->
          <section class="projects-container  " id="anchor-projects">
            <div class="projects-div"> My Projects <hr></div>
            <div class="projects">  
                

              <div class="card" style="width: 18rem;">
                <img src="pics/Screenshot 2024-01-27 102523.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Projects</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="pics/Screenshot 2024-01-27 102523.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Projects</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="pics/Screenshot 2024-01-27 102523.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Projects</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>


              <div class="card" style="width: 18rem;">
                <img src="pics/Screenshot 2024-01-27 102523.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Projects</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
          </section>

          <!-- aboout us -->
          <section class="about-us" id="anchor-about">
            <div class="container col-xxl-8 px-4 py-5 m-4 w-100">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="pics/Screenshot 2024-01-27 104835.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Me</h1><br><br>
                    <h2>Dundar Ladai</h2><br>
                    <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                    
                  </div>
                </div>
                <div class="contact-links lh-1"> 
                   <h4> Contact me :</h4> <br>   
                   <div class="contact-links-logo">
                    <a href="" ><img src="pics/facebook.png" alt="insta"></a>
                    <a href="" ><img src="pics/insta.png" alt="insta"></a>
                    <a href="" ><img src="pics/LI-In-Bug.png" alt="insta"></a>
                    <a href="" ><img src="pics/twitter.png" alt="insta"></a>
                    
            </div>
                </div>
              </div>
          </section>


        
          
      





        </main>
        <footer> <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div> </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>