<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_ur_info</title>
</head>
<body>
  <!-- title
  name
  about
  work exp (year choice -from --to )
  skills /expertise 
  about page photo (pfp)
  social linsk
  projects data & project link & images
  resume  
-->

    <main>

      <form action="/addbasic" method="post">
        <input type="text" name="title" id="" placeholder="Title">
        
        <br> 
        <input type="text" name="name" id="" placeholder="Name">
        
        <br> 
        <input type="text" name="about" id="" placeholder="About me ">
       
        <br> 
        
        <button type="submit">SUBMIT</button>
        <br> 

      </form>




    </main>
    
</body>
</html>