<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  href="/css/himanshu.css" >
</head>
<body>
    <section class="navbar">
        <div class="navbar-center">
        
            <div class="nav-logo">Portfolio</div>

            <div class="menu-logo">
                <form action="/" method="get"  ><button class="nav-link" style="background: transparent;" href="/" >HOME</button></form>
                <form action="/about" method="get"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
                <form action="/addrecipe" method="get"><button class="nav-link nav-button adjust" style="background: transparent;" href="">ADD RECIPE</button></form>
                <form action="/recipe" method="get"><button class="nav-link nav-button adjust recipe-btn" style="background: transparent;">RECIPES</button></form>
            </div>
            <div class="nav-btn-container"><button type="button" class="nav-btn">
                <i class="fas fa-align-justify"></i>
            </button></div>
        </div>
    </section>


    <script src="https://kit.fontawesome.com/3ba4b701ff.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>