body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    background-color: transparent;
    width: 60%;
    position: fixed;
    z-index: 0;
       
    
}

.noborder{
    border:none;
    background-color: transparent;
}
.container-fluid{

    
    background-color: rgb(0,0 ,0,0.7)  ;
    height: 4.2rem;
    border: 2px solid black;
    backdrop-filter: blur(4px);
    box-shadow: 10px 10px 10px   rgba(142, 140, 140, 0.678), inset -20px -20px 40px rgba(54, 51, 51, 0.705);
    
}

.resume-btn{
    border:2px solid white;
}


.name-container{
    display: flex;
    width: 60%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    

    
}
.div-name{
    font-size: 120px;

}

.homepage-container-img{
    max-height: 85vh;
    width: 100vw;
    background-image: url("../images/pics/Screenshot\ 2024-01-27\ 085008.png");
   
}
input {

}
.expertise-div{
    margin:4rem 4rem;
    height: 40vh;


}
.expertise-head{
    font-size: 40px ;
    padding: 2rem 2rem;
}


.projects-container{
    height: auto;
    margin:4rem 4rem;
    

}

.projects-div{
    font-size: 40px;
    padding: 2rem 2rem ;
}

main{
    width: 60%;
}

.projects{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}



.about-us{
    margin:4rem 4rem;
}


.contact-links-logo img{
    height: 2rem;
    width: 2rem;

}

.experience-div{
    margin:4rem 4rem;
    height: auto;

}