@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500; 600; 700; 800; 900&display=swap');
*
{
    margin:  0 auto;
    padding: 0;
    font-family: sans-serif ,'Poppins';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(4, 16, 46);
    height: auto;
}
.header
{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 11000;
}
.header-scrolled
{
    background: rgba(0,0,0,0.5);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.name
{
    font-size: 25px;
    color: #fefcfc;
    text-decoration: none;
    font-weight: 600;
}
.navbar a
{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #fefcfc;
    margin-left: 30px;
    transition: 0.3s;

}
.navbar a:hover,
.navbar a.active
{
    color: #116789;
}
/* .body-home
{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding-left: 10px;
} */
section
{
    height: 100vh;
    color: #fefcfc;
    width: 100%;
    padding-top: 89px;
}

#intro
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(244, 240, 240, 0.084));
    padding-left: 15px;
}
#intro h1
{
    font-size: xx-large;
    font-weight: 700;
    opacity: 0.9;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #44ad6e;
}
#intro h3
{
    font-size: larger;
    font-weight: 100;
    font-style: oblique;
}

#expertise
{
    background: linear-gradient(rgba(75, 74, 74, 0.26),rgba(0, 0, 0, 0.5));
    padding-left: 15px;
}
#expertise h1
{
    font-size: xx-large;
    font-weight: 700;
    opacity: 0.9;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #88ad44;
}
#expertise h2
{
    font-size: 70px;
}
#expertise h3
{
    font-size: 25px;
    font-style: oblique;
}
#expertise_1
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 380px;
    height: auto;
    margin: 50px;
    border: 3px solid #8E44AD ;
}
#expertise_2
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 380px;
    height: auto;
    margin: 50px;
    border: 3px solid #44ad6e ;
    left: 480px;
    bottom: 569px;
}
#expertise_3
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 380px;
    height: auto;
    margin: 50px;
    border: 3px solid #de7e11 ;
    left: 950px;
    bottom: 1139px;
}
#experience
{
    background: linear-gradient(rgba(75, 74, 74, 0.26),rgba(0, 0, 0, 0.5));
    padding-left: 15px;
}
#experience h1
{
    font-size: xx-large;
    font-weight: 700;
    opacity: 0.9;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #ad5044;
}
#experience h2
{
    font-size: 30px;
}
#experience h3
{
    font-size: 15px;
    font-style: oblique;
}
#experience_1
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 980px;
    height: auto;
    margin: 50px;
    border: 3px solid #8E44AD ;
}
#experience_2
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 980px;
    height: auto;
    margin: 50px;
    border: 3px solid #ad4444 ;
}
#experience_3
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 6px;
    width: 980px;
    height: auto;
    margin: 50px;
    border: 3px solid #a8ad44 ;
}
#projects
{
    background: linear-gradient(rgba(75, 74, 74, 0.26),rgba(0, 0, 0, 0.5));
    padding-left: 15px;
}
#projects h1
{
    font-size: xx-large;
    font-weight: 700;
    opacity: 0.9;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #44a8ad;
}
#projects h2
{
    font-size: 30px;
    font-style: oblique;
}

#projects_1
{
    padding-top: 10px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 500px;
    height: auto;
    margin: 50px;
    border: 3px solid #8E44AD ;
    border-radius: 50px;
}
#projects_2
{
    padding-top: 5px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 450px;
    height: auto;
    margin: 50px;
    border: 3px solid #ad4452 ;
    border-radius: 50px;
    bottom: 40px ;
    left: 390px;
}
#projects_3
{
    padding-top: 5px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 730px;
    height: auto;
    margin: 50px;
    border: 3px solid #dcd9e2 ;
    border-radius: 50px;
    bottom: 242px ;
    left: 550px;
}
#projects_4
{
    padding-top: 5px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 930px;
    height: auto;
    margin: 50px;
    border: 3px solid #15bd1b ;
    border-radius: 50px;
    bottom: 200px ;
    left: 196px;
}
#projects_5
{
    padding-top: 5px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 830px;
    height: auto;
    margin: 50px;
    border: 3px solid #80a3ad ;
    border-radius: 50px;
    bottom: 238px ;
}
#projects_6
{
    padding-top: 5px;
    background-origin: padding-box;
    box-sizing: content-box;
    position: relative;
    padding: 16px;
    width: 150px;
    height: auto;
    margin: 50px;
    border: 3px solid #09f5be ;
    border-radius: 50px;
    bottom: 361px ;
    left: 896px;
}
#contact
{
    background: linear-gradient(rgba(75, 74, 74, 0.26),rgba(0, 0, 0, 0.5));
    padding-left: 15px;
    height: 50vh;
    padding-top: 10px;
}
#contact h1
{
    font-size: xx-large;
    font-weight: 700;
    opacity: 0.9;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #ba5bdd;
}
#contact h2
{
    font-size: 20px;
    font-style: oblique;
}
#mail
{
    padding-top: auto;
    object-fit: contain;
    width: 50px;
    position: relative;
    margin: 15px;
    top: 25px;
}
#twitter
{
    padding-top: auto;
    object-fit: contain;
    width: 50px;
    position: relative;
    top: 25px;
    margin: 15px;
}
#linkedin
{
    padding-top: auto;
    object-fit: contain;
    width: 50px;
    position: relative;
    top: 25px;
    margin: 15px;
}
#instagram
{
    padding-top: auto;
    object-fit: contain;
    width: 50px;
    position: relative;
    top: 25px;
    margin: 15px;
}
#website
{
    padding-top: auto;
    object-fit: contain;
    width: 50px;
    position: relative;
    top: 25px;
    margin: 15px;
}

